apiVersion: v1
kind: ServiceAccount
metadata:
  name: primaza-svc-agent-bad-admin
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: primaza-svc-agent-bad-admin-cluster-role
rules:
  - apiGroups:
      - ""
    resources:
      - namespaces
      - serviceaccounts
      - services
    verbs:
      - get
      - create
      - update
      - delete
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - create
      - delete
      - update
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - roles
      - clusterroles
      - rolebindings
      - clusterrolebindings
    verbs:
      - create
      - get
      - delete
      - update
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - create
      - delete
      - get
      - update
  - apiGroups:
      - primaza.io
    resources:
      - registeredservices
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - primaza.io
    resources:
      - serviceclasses/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - primaza.io
    resources:
      - servicebindings
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - delete
  - apiGroups:
      - primaza.io
    resources:
      - serviceclaims
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - create
      - delete
      - update
      - get
      - list
      - watch
  - apiGroups:
      - apps
    resourceNames:
      - primaza-svc-agent
    resources:
      - deployments
      - deployments/finalizers
    verbs:
      - update
  - apiGroups:
      - cert-manager.io
    resources:
      - issuers
      - certificates
    verbs:
      - create
      - delete
      - get
      - update
  - apiGroups:
      - authorization.k8s.io
    resources:
      - subjectaccessreviews
    verbs:
      - create
      - get
      - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: primaza-svc-agent-bad-admin-cluster-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: primaza-svc-agent-bad-admin-cluster-role
subjects:
  - kind: ServiceAccount
    name: primaza-svc-agent-bad-admin
    namespace: kube-system

